[submodule "modules/autosuggestions/external"]
	path = modules/autosuggestions/external
	url = ../zsh-users/zsh-autosuggestions.git
[submodule "modules/history-substring-search/external"]
	path = modules/history-substring-search/external
	url = ../zsh-users/zsh-history-substring-search.git
[submodule "modules/syntax-highlighting/external"]
	path = modules/syntax-highlighting/external
	url = ../zsh-users/zsh-syntax-highlighting.git
[submodule "modules/completion/external"]
	path = modules/completion/external
	url = ../zsh-users/zsh-completions.git
[submodule "modules/prompt/external/powerline"]
	path = modules/prompt/external/powerline
	url = ../davidjrice/prezto_powerline.git
[submodule "modules/prompt/external/agnoster"]
	path = modules/prompt/external/agnoster
	url = ../agnoster/agnoster-zsh-theme.git
[submodule "modules/prompt/external/pure"]
	path = modules/prompt/external/pure
	url = ../sindresorhus/pure.git
[submodule "modules/fasd/external"]
	path = modules/fasd/external
	url = ../clvv/fasd.git
[submodule "modules/prompt/external/async"]
	path = modules/prompt/external/async
	url = ../mafredri/zsh-async.git
[submodule "modules/prompt/external/powerlevel10k"]
	path = modules/prompt/external/powerlevel10k
	url = ../romkatv/powerlevel10k.git
	shallow = true
[submodule "contrib/completion-gen/external"]
	path = contrib/completion-gen/external
	url = ../RobSis/zsh-completion-generator.git
[submodule "contrib/fzf-tab/external"]
	path = contrib/fzf-tab/external
	url = ../Aloxaf/fzf-tab
[submodule "contrib/colorize"]
	path = contrib/colorize
	url = ../zpm-zsh/colorize
[submodule "contrib/history-search-multi-word"]
	path = contrib/history-search-multi-word
	url = ../zdharma/history-search-multi-word.git
[submodule "contrib/fast-syntax-highlighting"]
	path = contrib/fast-syntax-highlighting
	url = ../zdharma/fast-syntax-highlighting.git
[submodule "contrib/q"]
	path = contrib/q
	url = ../cal2195/q.git
[submodule "contrib/alias-tips"]
	path = contrib/alias-tips
	url = ../djui/alias-tips.git
